# basic
vk-api>=11.8
requests>=2.22
bs4
# music related
pydub
mutagen
music-tag
streamlink
ffmpeg-python
# message analysis, tables, face recognition
numpy>=1.18
pandas
matplotlib>=3.3
# face recognition
tqdm
scikit-image
dlib
face_recognition